<div class="panel panel-default">
	<div class="panel-body">
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-search"></span> <input
				type="search" ng-model="query" class="form-control"
				placeholder="Connection id">
		</div>
		<p>
		
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="connection in connections|filter:query as results" ui-sref-active="active">
				<a ui-sref="home.connectionDetails({id:connection._id})">{{ (connection.new ? "*" : "") + connection.name}} </a>
			</li>
			<li class="animate-repeat" ng-if="results.length == 0"><strong>No results</strong></li>
		</ul>
	</div>
	<div class="panel-footer">
		<div class="btn-group btn-group-lg" role="group">
			<button type="button" class="btn btn-default" ng-click="createNewConnection()">
				<i class="glyphicon glyphicon-plus"></i>
			</button>
			<button type="button" class="btn btn-default" ng-click="removeConnection()">
				<i class="glyphicon glyphicon-minus"></i>
			</button>
		</div>
	</div>
</div>

