<div class="panel panel-default">
	<div class="panel-heading">
		Connection Details
		<span class="btn-group btn-group-xs pull-right">
			<button id="save" name="save" class="btn btn-primary" ng-click="saveConnection()">Save</button>
		</span>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Name:</label> 
						<input type="text"	class="form-control" id="name" placeholder="Enter Connection Name here" required ng-model="selectedConnection.name"> 
					</div>
					<div class="form-group">
						<label for="url">Login URL:</label> 
						<input type="text" class="form-control" id="url" required ng-model="selectedConnection.loginUrl" placeholder="Enter SalesForce server url e.g https://cs10.salesforce.com">
					</div>
					<div class="form-group">
						<label for="project">Target:</label>
						<a href="https://xyz.bluemix.net/dashdb">Target dashdb service</a>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="form-group form-inline">
						<label for="name">OAuth:</label> 
						<input type="checkbox" class="form-control" id="name" ng-model="selectedConnection.useOAuth"> 
					</div>
					<div class="form-group">
						<label for="clientId">Client Id:</label> 
						<input type="text" class="form-control" id="clientId" required ng-model="selectedConnection.clientId" placeholder="Enter OAuth client Id">
					</div>
					<div class="form-group">
						<label for="clientSecret">Client Secret:</label>
						<input type="text" class="form-control" id="clientSecret" required ng-model="selectedConnection.clientSecret" placeholder="Enter OAuth client Secret">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 center-block">
					<button class="btn btn-primary center-block" data-toggle="modal" data-target="#OAuthWaitLogin" ng-click="connect()">Connect to Salesforce</button>
				    <!-- button id="test" name="test" class="btn btn-primary center-block" ng-click="connect()">
				        Connect to Salesforce!
				    </button-->
				    
				    <div class="modal fade" id="OAuthWaitLogin" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
     							<div class="modal-header">
        							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        							<h4 class="modal-title" id="myModalLabel">Modal title</h4>
      							</div>
						        <div class="modal-body">
						      		Waiting for Salesforce login to completed...
						      	</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      							</div>
    						</div>
  						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Tables
	</div>
	<div class="panel-body">
		<div class="form-group form-inline">
				<input type="checkbox"	class="form-control" id="all_tables">
					 <label for="all_tables">All Tables:</label> 
				</input>
				<input type="checkbox" class="form-control" id="some_tables">
					<label for="some_tables">Specify Table</label>
				</input>
				<div class="input-group dropdown {{tableMenuOpenClass}}" ng-click="openTableList()">
					<input type="text" class="form-control" required id="selected_table" ng-model="selectedConnection.selectedTableName">
					<div class="input-group-btn">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
					</div>
					<ul class="dropdown-menu" style="max-height: 250px; height: 250px; overflow: auto;width:100%">
						<li ng-repeat="table in selectedConnection.tables" ng-click="selectTable(table)">
							<a href="javascript:;" >{{table.labelPlural}} </a>
						</li>
					</ul>
				</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Scheduler
	</div>
	<div class="panel-body">
	</div>
</div>