<section class="process">
	<button type="button" class="save" ng-class="['btn', 'btn-default' ]" data-toggle="modal" data-target="#savePipe" ng-click="savePipe()">Save</button>

	<button type="button" class="next" ng-class="['btn', 'btn-default' ]" ng-click="goToNextPage(nextPageTab)">Next</button>


	<div class="modal fade" id="savePipe" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Saving your pipe</h4>
	        <div class="modal-body" id="savePipeBody">
	      		Saving your pipe. Please wait...
	      	</div>
				</div>
			</div>
		</div>
	</div>
</section>