<section class="process">

	<button type="button" class="save buttonBarSave" ng-class="['btn', 'btn-primary' ]" data-toggle="modal" 
		data-target="#savePipe" ng-click="savePipe({'connect': connect, 'nextPageTab': nextPageTab })">Save {{nextPageTab && nextPageTab.length > 0 ? 'and continue' : ''}}</button>


	<button type="button" class="next buttonBarSkip" ng-class="['btn', 'btn-default' ]" ng-click="goToNextPage(nextPageTab)">Skip</button>


	<div class="modal fade" id="savePipe" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Saving your pipe</h4>
	        <div class="modal-body" id="savePipeBody">
	      		Saving your pipe. Please wait...
	      	</div>
				</div>
			</div>
		</div>
	</div>
</section>