<div class="panel panel-default">
	<div class="panel-heading">
		Pipe Details
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Name:</label> 
						<input type="text"	class="form-control" id="name" placeholder="Enter Pipe Name here" required ng-model="selectedPipe.name"> 
					</div>
					<div class="form-group">
						<label for="url">Login URL:</label> 
						<input type="text" class="form-control" id="url" required ng-model="selectedPipe.loginUrl" placeholder="Enter SalesForce server url e.g https://cs10.salesforce.com">
					</div>
					<div class="form-group">
						<label for="project">Target:</label>
						<a href="https://xyz.bluemix.net/dashdb">Target dashdb service</a>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="form-group">
						<label for="clientId">Client Id:</label> 
						<input type="text" class="form-control" id="clientId" required ng-model="selectedPipe.clientId" placeholder="Enter OAuth client Id">
					</div>
					<div class="form-group">
						<label for="clientSecret">Client Secret:</label>
						<input type="text" class="form-control" id="clientSecret" required ng-model="selectedPipe.clientSecret" placeholder="Enter OAuth client Secret">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 center-block">
					<button class="btn btn-primary center-block" data-toggle="modal" data-target="#OAuthWaitLogin" ng-click="connect()">Connect to Salesforce</button>
				    <!-- button id="test" name="test" class="btn btn-primary center-block" ng-click="connect()">
				        Connect to Salesforce!
				    </button-->
				    
				    <div class="modal fade" id="OAuthWaitLogin" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
     							<div class="modal-header">
        							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        							<h4 class="modal-title" id="myModalLabel">Modal title</h4>
      							</div>
						        <div class="modal-body">
						      		Waiting for Salesforce login to completed...
						      	</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      							</div>
    						</div>
  						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>