<h1>
  Welcome to the Simple Data Pipe
</h1>
<div ng-show="selectedPipe.tables && selectedPipe.tables.length > 0" class="alert alert-info">
  <p>
    <strong>Welcome back!</strong> Check out <a ng-click="goToNextPage('monitoring')">your pipe activity</a>.
  </p>
</div>


<p>
  This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
</p>
<section>
  <h2>
    This is an h2 inside a section
  </h2>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>

  <h3>
    This is an h3 inside a section
  </h3>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>

  <pre>
    {{ selectedPipe | json }}
  </pre>

</section>

<section>
  <h2>
    This is an h2 inside a section
  </h2>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>

  <h3>
    This is an h3 inside a section
  </h3>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>
</section>

<section>
  <h2>
    This is an h2 inside a section
  </h2>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>

  <h3>
    This is an h3 inside a section
  </h3>
  <p>
    This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
  </p>
</section>
