<div class="container-fluid">
	<div class="page-header">
  		<div class="sidebar-title">Schedule</div>
  		<small>Pick a time and we'll run the job then. You can also run a job now on the next screen</small>
	</div>	
	<div>Daily Run</div>
	<div class="input-group input-group-lg" style="max-width:250px">		
		<span class="input-group-addon" id="atsign">@</span> 
		<input type="time" class="form-control" placeholder="HH:MM am/pm" ng-model="selectedPipe.scheduleTime">
	</div>

</div>

<page-button-bar nextPageTab="monitoring"/>