<h1>
  Connect to {{selectedConnector.label}} via OAuth
</h1>

<div ng-show="selectedPipe.tables && selectedPipe.tables.length > 0" class="alert alert-success">
  <p>
    <span class="glyphicon glyphicon-ok"></span> <strong>You're connected!</strong> If your OAuth token has expired, <a data-toggle="collapse" data-target="#connect-form">refresh it</a>.
  </p>
</div>

<div id="connect-form" ng-class="{collapse: selectedPipe.tables && selectedPipe.tables.length > 0}">
  <div class="alert alert-info">
    <p>
      <strong>Note</strong>: If this is your first time setting up OAuth in {{selectedConnector.label}}, check out our tutorial for <a href="http://developer.ibm.com/clouddataservices/simple-data-pipe/" target="_blank">more detailed instructions</a>.
    </p>
  </div>
  <p>
    Before copying data from {{selectedConnector.label}} to IBM dashDB, you need to connect to {{selectedConnector.label}} via OAuth. If you don't have admin access to {{selectedConnector.label}}, ask your {{selectedConnector.label}} administrator to grant it to you.
  </p>

  <section>
    <h2>
      Add your OAuth callback to {{selectedConnector.label}}
    </h2>
    <p>
      Copy and paste this callback URL into your {{selectedConnector.label}} app.
    </p>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3">Callback URL</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{oauthCallback}}</p>
        </div>
      </div>
    </form>
  </section>

  <section>
    <h2>
      Add your consumer key and secret
    </h2>
    <p>
      On the same {{selectedConnector.label}} screen, copy your consumer key and secret and paste them here. Then click the connect button.
    </p>

    <div class="alert alert-warning" ng-show="selectedConnector.id == 'SalesForce'">
      <p>
        <span class="glyphicon glyphicon-warning-sign"></span> If you've just added Simple Data Pipe to {{selectedConnector.label}}, you need to wait ~10 minutes before you can connect.
      </p>
    </div>

    <form name="pipeConnectionForm" class="form-horizontal" novalidate>
      <div class="form-group" ng-class="{'has-error':!pipeConnectionForm.clientId.$pristine && pipeConnectionForm.clientId.$invalid}">
        <label for="clientId" class="control-label col-sm-3">Consumer key</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="clientId" id="clientId" required ng-model="selectedPipe.clientId" placeholder="{{selectedConnector.label}} consumer key {{!pipeConnectionForm.clientId.$pristine && pipeConnectionForm.clientId.$invalid ? 'is required' : ''}}">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error':!pipeConnectionForm.clientSecret.$pristine && pipeConnectionForm.clientSecret.$invalid}">
        <label for="clientSecret" class="control-label col-sm-3">Consumer secret</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="clientSecret" id="clientSecret" required ng-model="selectedPipe.clientSecret" placeholder="{{selectedConnector.label}} consumer secret {{!pipeConnectionForm.clientSecret.$pristine && pipeConnectionForm.clientSecret.$invalid ? 'is required' : ''}}">
        </div>
      </div>

      <div class="form-group" ng-show="selectedConnector.id == 'SalesForce'">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="selectedPipe.useSandbox">
                Use the {{selectedConnector.label}} sandbox<br />
                <strong>Only use this option if your {{selectedConnector.label}} administrator set up a sandbox for you or your organization.</strong>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" data-toggle="modal" data-target="#OAuthWaitLogin" ng-click="savePipe({connect:true})" ng-disabled="pipeConnectionForm.$invalid">Connect to {{selectedConnector.label}}</button>
        </div>
      </div>
    </form>
  </section>
</div>

<div class="modal fade" id="OAuthWaitLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">OAuth Validation</h4>
      </div>
      <div class="modal-body">
        Redirecting to {{selectedConnector.label}}.com. Please wait...
      </div>
    </div>
  </div>
</div>

<page-button-bar nextPageTab="{{selectedPipe.hasOwnProperty('tables') ? 'tables' : ''}}" skipButtonDisabled="{{!selectedPipe.hasOwnProperty('tables')}}"/>
