<div ng-if="!selectedPipe">
	<div>Invalid Selection. No pipe is currently selected</div>
</div>

<div ng-show="!isPipeRunning() && !runningAnchor">
	<h1>
		Activity
	</h1>
	<p>
		Status information and details about your pipe runs.
	</p>

	<p>
		<button type="button" class="btn btn-primary" ng-click="disableRunNow=true;runNow()" ng-class="{'disabled': disableRunNow}">Run now</button>
	</p>

	<p class="selected-pipe-activiy">
		<span class="ellipsize">{{ allPipesSelected ? 'All Pipes' : selectedPipe.name }}</span> <span>Activity</span>
	</p>
	<div class="selected-pipe-activiy-btn btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    {{ allPipesSelected ? 'All Pipes' : 'Current Pipe' }} <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><span ng-click="allPipesSelected = !allPipesSelected;runningAnchor=false;fetchRuns(allPipesSelected);activateRun()">{{ allPipesSelected ? 'Current Pipe' : 'All Pipes' }}</span></li>
	  </ul>
	</div>

	<p ng-hide="runs && runs.length > 0">
		No pipes have been run yet. Run one now, or schedule one.
	</p>

	<table class="table table-condensed table-hover" ng-show="runs && runs.length > 0">
		<thead>
			<tr>
				<th>Date/Time</th>
				<th ng-if="allPipesSelected">Pipe</th>
				<th><span class="piperecord">Records Processed</span></th>
				<th>Run Time</th>
				<th>Message</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="run in runs" ng-class="{'ERROR':'danger', 'RUNNING':'info', 'FINISHED':'success'}[run.status]"
				class="{{run.startTime == activeRun.startTime && run.pipeId == activeRun.pipeId && 'selectedRunDetail'+run.status || ''}}">
				<td>{{run.startTime}}</td>
				<td ng-if="name=getPipeName(run);allPipesSelected" class="pipename">
					<span ng-if="name" class="ellipsize">{{name}}</span>
					<span ng-if="!name" class="pipenotfound">Pipe no longer exists</span>
				</td>
				<td><span class="piperecord">{{run.numRecords | number}}</span></td>
				<td>{{run.elapsedTime}}</td>
				<td>{{run.message}}</td>
				<td>
					<a ng-click="activateRun(run)">
						Details
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div ng-show="activeRun" class="panel" ng-class="{'ERROR':'panel-danger', 'RUNNING':'panel-info', 'FINISHED':'panel-success'}[activeRun.status]">
	  <div class="panel-heading">
	    <h3 class="panel-title">Pipe Run Details</h3>
	  </div>
		<table class="table">
			<thead>
				<th>Table Name</th>
				<th><span class="piperecord">Records</span></th>
				<th>Status</th>
			</thead>
			<tbody>
				<tr ng-repeat="stat in activeRun.tableStats | orderBy:'tableName'">
					<td>{{stat.tableName}}</td>
					<td><span class="piperecord">{{stat.numRecords | number}}</span></td>
					<td>{{stat.errors[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div ng-show="isPipeRunning() || runningAnchor" ng-model="currentRun">
	<div class="container-fluid">
		<h1>
			Pipe Progress
		</h1>

		<p ng-show="steps[0].status === 'NOT_STARTED'">
			Initializing pipe...
		</p>
		<div class="progress" ng-show="steps[0].percent">
		  <div class="progress-bar progress-bar-success" ng-repeat="step in steps" style="width: {{ step.percent / steps.length }}%">
		    <span class="sr-only">{{ step.percent / steps.length }}% Complete</span>
		  </div>
		</div>

		<p ng-repeat="step in steps" ng-show="step.status === 'RUNNING'">
			{{ step.label }}
		</p>

		<p ng-show="steps[steps.length - 1].status === 'FINISHED'">
			Pipe run complete!
		</p>

		<p ng-show="!isPipeRunning()">
			<button class="btn btn-primary" ng-click="allPipesSelected=false;runningAnchor=false;fetchRuns(false)">View details</button>
		</p>
<!--
		<pre>
			{{ isPipeRunning() | json }}
		</pre>
-->
	</div>
</div>
