<h1>
  FAQs
</h1>
<p>
  If you have questions that aren't answered here, <a href="http://stackoverflow.com/questions/ask?tags=simpledatapipe%20dataworks%20cloudant%20dashdb">let us know on Stack Overflow</a> and we'll get right on it.
</p>

<dl class="faqs">
  <dt>
    Where can I learn more?
  </dt>
  <dd>
    <p>
      <a href="http://developer.ibm.com/clouddataservices/simple-data-pipe/">Check out the tutorial</a>.
    </p>
  </dd>
  <dt>
    Are there limits the amount of data I can move?
  </dt>
  <dd>
    <p>
      No limits we're aware of. We tested up to 100k Salesforce records. If you go past that threshold and have problems, <a href="http://stackoverflow.com/questions/ask?tags=simpledatapipe%20dataworks%20cloudant%20dashdb">let us know</a>.
    </p>
  </dd>
  <dt>
    What options do I have to view my data?
  </dt>
  <dd>
    <p>
      In addition to whatever analytics application you're using (Looker, etc), you can also view your data at rest in IBM Cloudant and IBM dashDB. Check out the tutorial for details.
    </p>
  </dd>
  <dt>
    Is this open source?
  </dt>
  <dd>
    <p>
      The Simple Data Pipe is open source! We have lots of features planned, including more connectors. Have ideas? We'd love your help. <a href="https://github.com/ibm-cds-labs/pipes">Head over to Github</a> and get your pipe on.
    </p>
  </dd>
  <dt>
    I'm having a problem with Simple Data Pipe. Where can I report it?
  </dt>
  <dd>
    <p>
      Please <a href="http://stackoverflow.com/questions/ask?tags=simpledatapipe%20dataworks%20cloudant%20dashdb">let us know on Stack Overflow</a> and we'll get right on it.
    </p>
  </dd>
</dl>
