<div class="container-fluid">
	<div class="page-header">
  		<div><b>Schedule</b></div>
  		<small>Pick a time and we'll run the job then. You can also run a job now on the next screen</small>
	</div>	
	<div>Daily Run</div>
	<div class="input-group input-group-lg">
		<span class="input-group-addon" id="atsign">@</span> 
		<input type="time" class="form-control" placeholder="HH:MM am/pm" ng-model="selectedPipe.scheduleTime">
	</div>

</div>

<p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group pull-left" role="group">
				<button type="button" ng-class="['btn', 'btn-default' ]" ng-click="savePipe()">Save</button>
				<button type="button" ng-class="['btn', 'btn-default' ]" ng-click="goToNextPage('monitoring')">Next</button>
			</div>
		</div>
	</div>
</div>