<h1>
  FAQs
</h1>
<p>
  If you have questions that aren't answered here, <a href="http://stackoverflow.com/questions/ask?tags=simpledatapipe%20dataworks%20cloudant%20dashdb">let us know on Stack Overflow</a> and we'll get right on it.
</p>

<section class="faqs">
  <h2>
    This is a category
  </h2>
  <h3>
    Are there limits the amount of data I can move?
  </h3>
  <div class="answer">
    <p>
      No limits we're aware of. We tested up to 100k Salesforce records. If you go past that threshold and have problems, let us know.
    </p>
  </div>
  <h3>
    What options do I have to view my data?
  </h3>
  <div class="answer">
    <p>
      In addition to whatever analytics application you're using (Looker, etc), you can also view your data at rest in IBM Cloudant and IBM dashDB. Check out the tutorial for details.
    </p>
  </div>
  <h3>
    Is this open source?
  </h3>
  <div class="answer">
    <p>
      The Simple Data Pipe is open source! We have lots of features planned, including more connectors. Have ideas? We'd love your help. <a href="https://github.com/ibm-cds-labs/pipes">Head over to Github</a> and get your pipe on.
    </p>
  </div>
</section>

<section class="faqs">
  <h2>
    This is a category
  </h2>
  <h3>
    Q: What's going on?
  </h3>
  <div class="answer">
    <p>
      This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
    </p>
  </div>
  <h3>
    Q: What's going on?
  </h3>
  <div class="answer">
    <p>
      This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
    </p>
  </div>
  <h3>
    Q: What's going on?
  </h3>
  <div class="answer">
    <p>
      This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.   This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph. This is a supporting paragraph.
    </p>
  </div>
</section>