<h1>
  Welcome to the Simple Data Pipe
</h1>
<div ng-show="selectedPipe.tables && selectedPipe.tables.length > 0" class="alert alert-info">
  <p>
    <strong>Welcome back!</strong> Check out <a ng-click="goToNextPage('monitoring')">your pipe activity</a>.
  </p>
</div>

<p>
  The Simple Data Pipe is an app that moves your Salesforce or Stripe data to dashDB, which is the IBM cloud data warehouse. Once you have your data in dashDB, you can do all kinds of analysis on it, with all kinds of tools, such as SQL, R, and Looker.
</p>
<p>
  <img src="../img/pipe-architecture-diagram_2.png" />
</p>
<p>
  This app is straightforward to use, but if you've landed here without having already done so, you should <a href="https://developer.ibm.com/clouddataservices/simple-data-pipe/">check out the accompanying tutorial</a>. 
</p>