<h1>
	Pick tables
</h1>
<p>
	Pick the table you want to copy, or select all tables.
</p>

<div class="input-group dropdown {{tableMenuOpenClass}}" ng-click="openTableList()">
	<input type="text" class="form-control" required id="selected_table" ng-model="selectedPipe.selectedTableName">
	<div class="input-group-btn">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
	</div>
	<ul class="dropdown-menu" style="max-height: 250px; height: 250px; overflow: auto;width:100%">
		<li ng-repeat="table in getTablesList()" ng-click="selectTable(table)">
			<a href="javascript:;" >{{table.labelPlural || table.name}} </a>
		</li>
	</ul>
</div>

<page-button-bar connect="false" nextPageTab="scheduling"/>

