<h1>
  FAQs
</h1>

<dl class="faqs">
  <dt>
    Where can I learn more about the Simple Data Pipe?
  </dt>
  <dd>
    <p>
      <a href="http://developer.ibm.com/clouddataservices/simple-data-pipe/">Check out the tutorial</a> for details about the technology that powers Simple Data Pipe, and the ways you can visualize the data you move into dashDB.
    </p>
  </dd>
  <dt>
    I found a bug. Where should I report it?
  </dt>
  <dd>
    <p>
      Please <a href="https://github.com/ibm-cds-labs/pipes/issues">submit an issue</a> on Github and we'll get right on it.
    </p>
  </dd>
  <dt>
    Are there limits the amount of data I can move?
  </dt>
  <dd>
    <p>
      No limits we're aware of. We tested up to 100k Salesforce records. If you go past that threshold and have problems, <a href="https://github.com/ibm-cds-labs/pipes/issues">submit an issue</a>.
    </p>
  </dd>
  <dt>
    Can I contribute?
  </dt>
  <dd>
    <p>
      Yes, of course. The Simple Data Pipe is open source! We have lots of features planned, including more connectors. Have ideas? We'd love your help. <a href="https://github.com/ibm-cds-labs/pipes">Head over to Github</a> and get your pipe on.
    </p>
  </dd>
  <dt>
    Who is behind the Simple Data Pipe?
  </dt>
  <dd>
    <p>
      Sarah Maston and David Taieb from the IBM Cloud Data Services developer advocacy team spearheaded this project, and are driving it forward. There are lots of ways to <a href="https://developer.ibm.com/clouddataservices/connect/">connect with them</a>, if you'd like to learn more.
    </p>
  </dd>
</dl>
