<div class="sidebar-title">Connect to Salesforce via OAuth</div>

<legend><b>Step 1</b></legend>
<fieldset>
    <div class='row'>
    	<div class="col-md-6">
			<div class="form-group">
				<label class="subtitle">Copy the OAuth Callback URL for this application:</label> 
				<input type="text" class="form-control" readonly value="{{oauthCallback}}">
			</div>
		</div>		
	</div>
</fieldset>

<legend><b>Step 2</b></legend>
<fieldset>
    <div class='row'>
    	<div class="col-md-12">
			<label class="subtitle">Add your OAuth Callback URL to Salesforce:</label> 
			<ol style="list-style:decimal;margin-left:30px">
				<li>Sign in to Salesforce</li>
				<li>Go to the setup page and locate the connected app page for this application (you will need admin access to Salesforce)</li>
				<li>Paste the OAuth Callback shown above</li>
				<li>Fill out the rest of the form and copy the client id and secret</li>
			</ol> 
		</div>	
	</div>
</fieldset>

<legend><b>Step 3</b></legend>
<fieldset>
    <div class='row'>
    	<div class="col-md-12">
			<label class="subtitle">Connect to Salesforce:</label>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-6">
			<div class="form-group">
				<label for="clientId">Client Id:</label> 
				<input type="text" class="form-control" id="clientId" required ng-model="selectedPipe.clientId" placeholder="Enter OAuth client Id">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="clientSecret">Client Secret:</label>
				<input type="text" class="form-control" id="clientSecret" required ng-model="selectedPipe.clientSecret" placeholder="Enter OAuth client Secret">
			</div>
		</div>	
	</div>
</fieldset>

<div class="row">
	<div class="col-md-12 center-block">
		<button class="btn btn-primary center-block" data-toggle="modal" data-target="#OAuthWaitLogin" ng-click="connect()">Connect to Salesforce</button>
	    
	    <div class="modal fade" id="OAuthWaitLogin" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
  							<div class="modal-header">
     							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     							<h4 class="modal-title" id="myModalLabel">Modal title</h4>
   							</div>
			        <div class="modal-body">
			      		Waiting for Salesforce login to completed...
			      	</div>
   							<div class="modal-footer">
     							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   							</div>
 						</div>
					</div>
		</div>
	</div>
</div>

<page-button-bar nextPageTab="tables"/>