<div ng-if="!selectedPipe">
	<div>Invalid Selection. No pipe is currently selected</div>
</div>

<div ng-show="!isPipeRunning() && !runningAnchor">
	<h1>
		Activity
	</h1>
	<p>
		Status information and details about your pipe runs.
	</p>

	<p>
		<button type="button" class="btn btn-primary" ng-click="runNow()">Run now</button>
	</p>

	<table class="table table-condensed table-hover" ng-show="runs && runs.length > 0">
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Records Processed</th>
				<th>Run Time</th>
				<th>Message</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="run in runs" ng-class="{'ERROR':'danger', 'RUNNING':'info', 'FINISHED':'success'}[run.status]">
				<td>{{run.startTime}}</td>
				<td>{{run.numRecords}}</td>
				<td>{{run.elapsedTime}}</td>
				<td>{{run.message}}</td>
				<td>
					<a ng-click="activateRun(run)">
						Details
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div ng-show="activeRun" class="panel" ng-class="{'ERROR':'panel-danger', 'RUNNING':'panel-info', 'FINISHED':'panel-success'}[activeRun.status]">
	  <div class="panel-heading">
	    <h3 class="panel-title">Pipe Run Details</h3>
	  </div>
		<table class="table">
			<thead>
				<th>Table Name</th>
				<th>Records</th>
				<th>Status</th>
			</thead>
			<tbody>
				<tr ng-repeat="stat in activeRun.tableStats">
					<td>{{stat.tableName}}</td>
					<td>{{stat.numRecords}}</td>
					<td>{{stat.errors[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div ng-show="isPipeRunning() || runningAnchor" ng-model="currentRun">
	<div class="container-fluid">
		<div class="page-header">
	  		<div class="sidebar-title">Pipe Progress</div>
		</div>

		<ol style="list-style:decimal;margin-left:30px">
			<li ng-repeat="step in steps">
				<span class="glyphicon glyphicon-ok-circle" ng-if="step.status==='FINISHED'"></span> {{step.label}}: <span style="color:green">{{step.message}}</span>
			</li>
		</ol>
		<a href="javascript:void(0)" ng-show="!isPipeRunning()" ng-click="runningAnchor=false;fetchRuns()">See Results</a>
	</div>
</div>
